/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

body{
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
}

h1{
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
}

.flex-divs{
  padding: 60px;
}

.paragraphs{
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 100px;
}

.btn{
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 20px;
  font-size: 16px;
  transition: 0.3s;
  padding: 10px 20px;
}

.sedans-btn{
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
}

.sedans-btn:hover{
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
}

.suvs-btn{
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
}

.suvs-btn:hover{
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}

.luxury-btn{
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
}

.luxury-btn:hover{
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
}

.footer{
  color: hsl(179, 100%, 13%);
  margin-bottom: 100px;
  text-align: center;
}

.footer a{
  color: hsl(184, 100%, 22%);
  text-decoration: none;
}

.footer a:hover{
  color: hsl(31, 77%, 52%);
  text-decoration: none;
}

@media only screen and (min-width: 1136px) {

  .flex-container{
    display: flex;
    margin: 180px 180px 100px;
  }

  .sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
  }

  .suvs{
    background-color: hsl(184, 100%, 22%);
  }

  .luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
  }
}

@media only screen and (max-width: 1135px) {
  .flex-container{
    display: flex;
    flex-direction: column;
    margin: 100px 30px;
  }
  .sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
  }

  .suvs{
    background-color: hsl(184, 100%, 22%);
  }

  .luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
  }
}
